
 	<div class="modal fade" id="Replicas" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
 		  <div class="modal-dialog modal-sm" style="width: 445px;" >
 				<div class="modal-content">
 						<div class="modal-header">
 								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
 									 <span aria-hidden="true">×</span>
 								</button>
 								<h4 class="modal-title">复制话术</h4>
 					  </div>

 					 <div class="modal-body pagelists l-modal-body">
 							<form id="copyScene" method="post" class="form-horizontal margintop" enctype="multipart/form-data" >
									<div class="form-group" id="breakContent" style="display: block;">
										<label class="col-lg-4 control-label">新话术名称：</label>
										<div class="col-lg-6 col-sm-6">
											<input class="form-control" id="newSName" name="newSName"  placeholder="新话术名字" />
										</div>
									</div>
 									<div class="form-group">
 											<label class="col-lg-4 control-label">选择要复制的话术：</label>
 											<div class="col-lg-6 col-sm-6">
 												<select class="form-control" id="targetObj" name="targetObj" >
 													<option value=" "> 请选择要复制的话术 </option>
													 {volist name="scenarioslist" id="vo" key="k"}
 													   <option value="{$vo.id}">{$vo.name}</option>
 											     {/volist}
 												</select>
 											</div>
 								 </div>
 						 </form>
 					 </div>
 					 <div style="clear:both"></div>
					 <div class="modal-footer">
					 	<input type="hidden" name="ThinkTankId" id="ThinkTankId" value="">
					 	<button class="btn btn-primary submit-btn btnokprojectile-frame" onclick="copySubmit();" type="button">确 定</button>
					 	<button type="button" class="btn btn-default btncloseprojectile-frame" data-dismiss="modal">取消</button>
					 </div>
 			 </div>
 	    </div>
 	    
 			<script type="text/javascript">

 				function copyshow(){

 						$("#newSName").val("");

						$("#targetObj").val(" ");

						$('#Replicas').modal('show');

 				}


 			 //检查表单的必填项
 				function copySubmit(){

 					var targetObj = $("#targetObj").val();
 					var newSName = $("#newSName").val();
          //var sceneId = $("#nowsceneID").val();
					if(newSName == '' || newSName == null){
						alert('请填写新话术名称');
						return false;
					}else{
						var url = "{:url('user/Scenarios/copyScene')}";
 						 $.ajax({
 										url : url,
 										type : "post",
 										data : {'targetObj':targetObj,'newSName':newSName},
 										success: function(data){
										console.log(data.data);
 											$('#Replicas').modal('hide');

 											if(data.code == 1){
 												console.log(data);
 											}else{
 												location.reload();
 											}

 										},
 										error : function() {
 											console.log(data);
 										}
 							});

					}

 				}



 			</script>
 	  </div>


    <div class="modal fade" id="data-knowledge-batch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog modal-sm" style="width:350px; top:20%;">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"	aria-hidden="true">
               <span aria-hidden="true">×</span>
             </button>
             <h4 class="modal-title" id="myModalLabel">
               操作提示
             </h4>
           </div>
           <div class="modal-body modal-body-tips">
            当前话术为空，请添加话术后再进行此操作。
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">   关闭		</button>
             <button type="button" class="btn btn-primary" onclick="">	 确定    </button>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div>
    </div>
