	<section class="navbar navbar-default main-box-header main-head clearfix l-navbar">
		<div class="pull-left">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" data-type="" onclick="getLearning(this);" class="btn btn-default btn-default_tou man_Choice">全部</button>
				<button type="button" data-type="0" onclick="getLearning(this);" class="btn btn-default">待处理</button>
				<button type="button" data-type="1" onclick="getLearning(this);" class="btn btn-default">已处理</button>
				<button type="button" data-type="2" onclick="getLearning(this);" class="btn btn-default">已忽略</button> .
			</div>
		</div>
</section>
<script>
  function getLearning(obj){
    $('.btn-default').removeClass('man_Choice');
    $(obj).addClass('man_Choice');
    ajaxGetLearning();
  }

</script>
<style>
  .man_Choice{
    color: #fff!important;
    background-color: #0e90fe!important;
    border-color: #0e90fe!important;
  }

</style>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">序号</th>
      <th class="text-center">未识别内容</th>
      <th class="text-center">处理状态</th>
      <th class="text-center">记录时间</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>
  <tbody id="knowledgetag_listqqqqqq">
  	<!--
  	<tr>
  		<td>001</td>
  		<td>你不要这样说</td>
  		<td>待处理</td>
  		<td>2018-11-30 15:00</td>
  		<td>
  			<a href="javascript:void(0);" onclick="gotoDetail();">查看通话记录</a>&nbsp;&nbsp;
  			<a href="javascript:void(0);" onclick="machine_handle();">处理</a>&nbsp;&nbsp;
  			<a href="javascript:void(0);" data-title="话术确认处理" onclick="popTipswin(this);">确认处理</a>&nbsp;&nbsp;
  			<a href="javascript:void(0);" data-title="话术忽略" onclick="popTipswin(this);">忽略</a>&nbsp;&nbsp;
  			<a href="javascript:void(0);" data-title="话术删除" onclick="popTipswin(this);">删除</a>
  		</td>
  	</tr>
  	-->
  </tbody>
</table>
<div class="datatips datatips_knowqqqqq">
	<p><img src="__PUBLIC__/img/none.png" /></p>
	<p>暂无数据</p>
</div>
<div class="row">
  <input type="hidden" name="flowSoundId" id="chuli_id" value="" />
  <input type="hidden" name="page" id="learning_page" value="" />
  <input type="hidden" name="limit" id="learning_limit" value="" />
	<footer class="main-box-footer clearfix col-sm-12">
		<div class="pull-right " id="modalpagebody">
			<div class="pull-right" id="knowlebel_page">
			</div>
			<div class="text-right pull-right">
				<div class="paging1111"></div>
			</div>
		</div>
	</footer>
</div>

<div id="processlabel_page"></div>

<script>

	/**
	 * 配置分页
	 *
	 * @param int args.page 页码 页码参数统一"page"
	 * @param int args.limit 每页显示的数量 参数统一"limit"
	 * @param string args.paging_class 放置分页的class
	 * @param function args.callback 回调函数
	*/
	var Paging10 = new Paging01();
	Paging10.init_args({
	  page: 1, //初始页码
	  limit: 10, //初始每页显示的数据量
	  paging_class: 'paging1111', //放置分页的class
	  callback: ajaxGetLearning, //回调函数 比如show_datas(页码, 显示条数)
	  key:10, //分页标识 为了不和其他分页混乱
	});
   //获取学习数据
  function ajaxGetLearning(page,limit){
    	$("#fullScreen").removeClass("fadeInRight animated");
   	if(!page){
   		var page=1;
   	}
   	if(!limit){
   		var limit=10;
   	}
   //把翻页页码 存入隐藏html中 备用
  var type =$('.man_Choice').data('type');
   $("#learning_page").val(page);
   $("#learning_limit").val(limit);
   //场景id
   var id = $("#nowsceneID").val();
   var url = "{:url('user/Scenarios/get_learning')}"
   	  $.ajax({
				type:'POST',
				dataType:'json',
				url:url,
				data : {'scenarios_id':id, 'page' :page,'limit':limit,'type':type},
				success:function(result){
					var total = result.data.total; //数据总条数
        	var Nowpage = result.data.Nowpage; //当前页码
        	//var limit = result.data.limit; //每页条数
					var list = result.data.list; //学习数据
					console.log(list);
					if(result.code == 0){
					  //如果学习有数据 则隐藏---暂无数据div 没有数据的话 显示暂无数据div
  					if(list.length>0){
  						 $('.datatips_knowqqqqq').hide();
  					}else{
  						 $('.datatips_knowqqqqq').show();
  					}
  					var  string = "";
  				  //显示学习数据
  					for(var i = 0; i<list.length; i++){
  					     //通话记录 类型 是当前的 还是历史的 然后便于去表中找通话记录数据
  						   type="'"+list[i]['type']+"'";

  		  	 		   string += '<tr> ';
                 string +='<td class="text-center">'+((Nowpage-1)*limit+(i+1))+'</td>';
                 string +='<td class="text-center">'+list[i]['content']+'</td>';
                 string +='<td class="text-center">'+get_status_name(list[i]['status'])+'</td>';
                 string +='<td class="text-center">'+timestampToTime(list[i]['create_time'])+'</td>';
                 string +='<td><a href="javascript:void(0);"  data-title="" onclick="gotoDetailxxx('+list[i]['phone']+','+list[i]['task_id']+','+list[i]['record_id']+', \'record\','+type+');">查看通话记录</a>&nbsp;&nbsp';
                 if(list[i]['status']==0){
                     string +='<a href="javascript:void(0);"  data-title="" onclick="machine_handle('+list[i]['id']+')">处理</a>&nbsp;&nbsp';
                     string +='<a href="javascript:void(0);"  data-title="" onclick="set_status_learning('+list[i]['id']+',1)">确认处理</a>&nbsp;&nbsp';
                     string +='<a href="javascript:void(0);"  data-title="忽略话术学习" onclick="set_status_learning('+list[i]['id']+',2)">忽略</a>&nbsp;&nbsp';
                 }

                 string +='<a href="javascript:void(0);"  data-title="删除话术学习" onclick="delete_learning('+list[i]['id']+')">删除</a>';
                 string +='</td>';
  						   string +='</tr>';

  		  	 	}
  		  	  $("#knowledgetag_listqqqqqq").html(string);
  				  //显示分页(当前页码, 总数, 每页显示的条数, 自定义参数)
  				  Paging10.paging(Nowpage, total, limit);
					}
					if(window.change_type == 1){
  				$("#fullScreen").addClass("fadeInRight animated");
  				 window.change_type = 0;
  			}
				},
   	    error:function(){
					console.log('错误');
				}

   	 });

  }
  	//添加知识库添加元素
		var tag = 0;
		function addContent1(){
			tag += 1;
			var str = '<div class="answer-item">'
								+'<label class="robot-word">机器人文字:</label>'
								+'	<textarea rows="4" dataId="" placeholder="输入该问题的标准答案" maxlength="500" class="form-control ktextarea1" ></textarea>'
								+'	<div class="importRecording1">'
              	+'		<label class="robot-word importRecordingMargin">导入录音：</label>'
              	+'		<input type="radio" onclick="choices_type1(this);"  name="choices'+ tag +'"  value="0" checked="checked"/><span class="robot-word" >本地上传录音</span>'
              	+'	  <input type="radio" onclick="choices_type2(this);" value="1" name="choices'+ tag +'" /><span class="robot-word">系统录音选择</span>'
              	+'	  <div class="recordingChioce recording_type1">'
              	+'			<input type="file" class="form-control fileInput" name="fileInput" onchange="formSoundzl(this);" accept=".wav," >'
              	+'	  </div>'
              	+'  	<div class="recording  hidden recordingChioce recording_type2" >'
              	+'		<div>'
              	+'			<label class="col-lg-1  col-sm-1 control-label">选择音频来源：</label>'
              	+'			<select class="form-control sellect-width" onchange ="zget_zcoice(this);">'
              	+'				<option value="">请选择</option>'
              	+'				<option value="1">全部音频</option>'
              	+'				<option value="2">上传音频</option>'
              	+'				<option value="3">合成音频</option>'
              	+'			</select>'
              	+'		</div>'
              	+'		<div>'
              	+'			<label class="col-lg-1  col-sm-1 control-label">选择录音：</label>'
              	+'			<select class="  form-control sellect-width sure_zvoice" onchange="sure_zvoice(this);">'
              	+'				<option value="">请选择</option>'
              	+'			</select>'
              	+'		</div>'
              	// +'		<span class="btn btn-primary importbtn">导入</span>'
                +'		</div>'
                +'			<audio src="" class="recordingAudio1" id="voice_zid" preload="preload" controls="controls"></audio>'
                +'	</div><img src="/public/img_sj/delContent.png" class="delImg" onclick="delContent1(this);"/></div>';
				$('#contentlist1').append(str);



			$("input:radio[name='choices"+ tag +"']").change(function(){
				var val = $(this).prop('value');
				var data = $(this).siblings('.recordingChioce');
				data.addClass('hidden');
				data.eq(val).removeClass('hidden');
			});
		}

		 //删除元素
	 var delArr1 = [];
	 function delContent1(obj){
		 $(obj).parent().remove();
		 var dataid =  $(obj).siblings(".ktextarea1").attr("dataid");
		 if(dataid > 0){
			 delArr1.push(dataid);
		 }
	 }
	 //绑定指定场景节点
			function changeaction1(obj){

				var val = $(obj).val();

				if(val == "2"){
					$("#mainScenesl1").css("display","block");

							var sceneId = $("#nowsceneID").val();
							var href = "{:url('user/Scenarios/getNoteList')}";

							$.ajax({
									type: "POST",
									dataType:'json',
									url: href,
									cache: false,
									data: {"sceneId":sceneId},
									success: function(data) {

										// console.log(data);
											$("#mainSceneFlow1").find("option").remove();

											if (data.code == 0) {

													var data = data.data;
													if(data.length > 0){
															var string = '<option value=" ">选择要跳转到的流程节点</option>';
															for(var i=0;i<data.length;i++){
																	string += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
															}
															$("#mainSceneFlow1").append(string);
													}


											}else{

												console.log(data.msg);
												//alert(data.msg);
											}

									},
									error: function(data) {
										alert("提交失败");
									}
							})


				}else{
					 $("#mainScenesl1").css("display","none");
				}
			}
	//人机训练处理---检查 以及后端逻辑
  function learning_handle(){
      
    
        var formFile = new FormData();
        var id = $('#chuli_id').val(); //要处理的id
				var sceneId = $("#nowsceneID").val();//当前话术id
				//判断 不允许用户打断是够被勾选
				var flag =$('#Othersettings_know').is(':checked')
				if(flag){
				  var Othersettings_know = $("#Othersettings_know").val(); //知识库 --不允许用户打断
				}else{
				  var Othersettings_know = 0;
				}
				var processId = $("#nowProcessId").val();//当前流程id
				var name = $("#title_name").val();  //标题
				if (!name) {
            alert('知识库标题必须填写');
            return false;
        }
				var label = $("#knowledge_name").val();   //知识库标签
				var action = $("#knowledge_action").val();  //动作
				var keyword = $("#handle_keyword").val(); //关键词
				var flowNodeLevel = $("#order_level").val();  //意向等级
				var itemList = $("#contentlist1").find(".ktextarea1");
				var audiolist = $("#contentlist1").find('.fileInput');
				var selectlist = $("#contentlist1").find('.recording_type2').find('.sure_zvoice');
				var selectlist_src = $(".importRecording1").find('.recordingAudio1');
				console.log(itemList);

				var content = [];
				console.log(selectlist.length);
				var voice_idr;
        var return_boole =true;
        var actionId = $("#mainSceneFlow1").val(); //跳转的流程节点
				var ttpauseTime = $("#pause_time").val(); //暂停时间
				var tplId = $("#msgList option:selected").val();
				var knowledge_type = $('#knowledge_type').val(); //知识库类型
				//knlgType=8 为用户未说话 必须要有机器人回复
        if (knowledge_type == 8) {
            if (selectlist.length == 0) {
                alert('用户未说话必须要有机器人回复');
                return false;
            }
        }
        //knlgType=1为普通 必须要有关键词
        if (knowledge_type == 1) {
            if (!keyword) {
                alert('知识库类型普通必须要有关键词');
                return false;
            }
            //除了指定场景节点 其他的 必须要有有录音
            if (action != 2) {
                if (selectlist.length == 0) {
                    alert('知识库类型为普通，动作除了指定场景节点，其他动作必须要有录音');
                    return false;
                }
            }
        }
				
				$.each(itemList , function(i, n){
            var temp = $(n).val();
            //8是用户未说话 那么必须有语音并且必须只有挂机动作
            if (knowledge_type == 8) {
                if (!temp) {
                    alert('机器人文字不能为空');
                    //each 里面 return 只能终止当前 不好用 只能赋值 之后 拿出来使用了
                    return_boole = false;
                    return false;
                }
                if (!selectlist_src.eq(i).attr('src') && !audiolist.eq(i).val()) {
                    alert('机器人录音不能为空');
                    //each 里面 return 只能终止当前 不好用 只能赋值 之后 拿出来使用了
                    return_boole = false;
                    return false;
                }
            }
            //知识库类型为普通 的时候 动作除了指定场景节点 其他动作必须有录音
            if (knowledge_type == 1 && action != 2) {
                if (!temp) {
                    alert('机器人文字不能为空');
                    //each 里面 return 只能终止当前 不好用 只能赋值 之后 拿出来使用了
                    return_boole = false;
                    return false;
                }
                if (!selectlist_src.eq(i).attr('src') && !audiolist.eq(i).val()) {
                    alert('机器人录音不能为空');
                    //each 里面 return 只能终止当前 不好用 只能赋值 之后 拿出来使用了
                    return_boole = false;
                    return false;
                }
            }
            var item = {};
            item.id = $(n).attr("dataId");
            item.con = temp;
            if (selectlist.eq(i).val()) {
                item.voice_idr = selectlist.eq(i).val()
            }
            formFile.append("filesname_" + i, audiolist.eq(i).get(0).files[0]);
            content.push(item);
        });
				if(!return_boole){
				   return false;
				}
					console.log(content);
				// 	return false;
				
				if(!knowledge_type || knowledge_type ==0){
  					alert("请选择类型");
  					return false;
  			}

				if ($("#msgInfo").is(":checked")) {

					if(!tplId || tplId ==" "){
						alert("请选择短信模板");
						return false;
					}
				}else{
					tplId = 0;
				}

				var groupId = $("#kagentList1 option:selected").val();
				if ($("#kagent1").is(":checked")) {
					if(!groupId || groupId ==" "){
						alert("请选择坐席分组");
						return false;
					}
				}else{
					groupId = 0;
				}

        content = JSON.stringify(content)
  			formFile.append("sceneId",sceneId);
  			formFile.append("Othersettings_know",Othersettings_know); //知识库 不允许用户打断
  			formFile.append("processId",processId);
  			formFile.append("name",name);
  			formFile.append("label",label);
  			formFile.append("action",action);
  			formFile.append("actionId",actionId);
  			formFile.append("keyword",keyword);
  			formFile.append("flowNodeLevel",flowNodeLevel);
  			formFile.append("content",content);
  			formFile.append("delArr",delArr1);
  			formFile.append("pausetime",ttpauseTime);
  			formFile.append("tplId",tplId);
  			formFile.append("groupId",groupId);
  			formFile.append("knowledge_type",knowledge_type);
  			formFile.append("id",id);
  			var url = "{:url('user/Learning/learning_chuli')}";
  			$.ajax({
  				url : url,
  				type : "post",
  				data : formFile,
  				cache: false,
          contentType: false,    //不可缺
          processData: false,    //不可缺
  				success: function(data){
  				  console.log(data);
  				   if(data.code==0){
						    //读取当前页数 处理完了 不需要从第一页开始了
						     var page = $('#learning_page').val();  
						     var limit = $('#learning_limit').val();
						     alert('处理成功');
						     ajaxGetLearning(page,limit);
						     $('#machine_hand').modal('hide');
						  }else{
						    alert(data.msg);
						  }
  				},
  				error:function() {
  				// 	alert(data);
  				console.log('提交数据失败');
  				}
  			});
    
  
  
  }
   // 人机训练--点击处理 清空相关数据
	function machine_handle(id) {
	   //点击处理 各种数据去全部显示为空
	   // 标题
   	   $('#title_name').val('');
   	  //知识库标签
   	   $('#knowledge_name').val('');
   	  //知识库类型
   	  $("#knowledge_type option:first").prop("selected", 'selected');
   	  //关键字
   	  $('#handle_keyword').val('');
   	  //机器人回复音频url
   	  $('#voice_zid111').attr('src','');
   	  $('#sound_path_learning').val('');
   	  //机器人回复 
   	  $('#machine_reply').val('');
   	  //机器人动作
      $("#knowledge_action option:first").prop("selected", 'selected');
   	  //意向等级
   	  $("#order_level option:first").prop("selected", 'selected');
   	  //暂停时间
   	  $('#pause_time').val('');
	    //把要处理的数据id 放入input中
	    $('#chuli_id').val(id)
	    //添加条件清空
	    $('#contentlist1').html('');
	    //坐席清空
	    $("#kagentList").val("");
	    //默认不钩取人工坐席
	    $("#kagent1").prop("checked",false);
	    
	    $('#kagentbox1').css("display","none");
	    var url  = "{:url('get_train_info')}"
	    $.ajax({
   	  	  type:'POST',
					dataType:'json',
					url:url,
					data:{'id':id},
					success:function(result){
					  $('#learning_content').html(result.data.content);
						 $('#machine_hand').modal('show');
					},
					error:function(){
					  alert('参数错误');
				  }
   	  });
	}



  function gotoDetailxxx(mobile, taskId, id, froms,type) {
    	console.log(id);
      if (froms == '') {
        froms = 'record';
      }
      if(type=='historical'){
      	 type='historical';
      }
      // window.location.href = "{:url(\'detail\')}/id/"+uid;
      if (froms == 'record') {
        var data = {
          'mobile': mobile,
          'taskId': taskId,
          'recordId': id,
          'froms': froms,
          'type':type
        };
      } else {
        var data = {
          id: id
        };
      }
      $.post("{:url('Member/backdetail')}", data, function(data) {
        if (data) {
          console.log(data);
          console.log('3113312');
          if (data.code == 0) {
            var memberInfo = data.data.memberInfo;
            //通话记录
            var bills = data.data.bills;
						if(memberInfo.length == 0 && bills.length == 0){
							console.log("暂无数据");
						}
						$('#taskname').text(memberInfo.task_name);	//任务名称
						$('#speechname').text(memberInfo.speechname);//话术名称

						$('#customer_talk').text(memberInfo.call_times);//客户说话次数

						$('#trigger_pro').text(memberInfo.hit_times); //触发问题
						$("#duration").text(memberInfo.duration + '秒');   //通话时长
						$('#effective_talk').text(memberInfo.effective_times);//有效对话
						$('#sure_talk').text(memberInfo.affirm_times);//肯定次数
						$('#neutral_talk').text(memberInfo.neutral_times); //中性次数
						$('#negative_talk').text(memberInfo.negative_times); //否定次数
						$('#c_invitation').text(memberInfo.successyaoyue);//是否邀约成功
						$("#last_dial_time").text(memberInfo.last_dial_time); //最后拨打时间

						$('#semantic_tag').text(memberInfo.semantic_label);//语义标签
						$('#process_tag').text(memberInfo.knowledge_label);//流程标签
						$('#answer_tag').text(memberInfo.flow_label);//问答标签

            $("#nickname").text(memberInfo.nickname);
            $("#sex").text(memberInfo.sex);
            $("#mobile").text(memberInfo.mobile);



            $("#call_time").text(memberInfo.call_times + '轮');
            $("#originatingCall").text(memberInfo.originating_call);
            $("#keyNum").text(data.data.num);//命中关键字
            $("#keyNum").parent().attr("title",data.data.num);//命中关键字
            var strstatus = "未拨打";
            switch (memberInfo.status) {
              case 2:
                strstatus = "已接通";
                break;
              case 3:
                strstatus = "无人接听";
                break;
              case 4:
                strstatus = "停机";
                break;
              case 5:
                strstatus = "空号";
                break;
              case 6:
                strstatus = "正在通话中";
                break;
              case 7:
                strstatus = "关机";
                break;
              case 8:
                strstatus = "用户拒接";
                break;
              case 9:
                strstatus = "网络忙";
                break;
              case 10:
                strstatus = "来电提醒";
                break;
              case 11:
                strstatus = "呼叫转移失败";
                break;
              default:
                strstatus = "--";
                break;
            }
            $("#statusinfo").text(strstatus); //拨打状态
            $(".greenactive").removeClass("greenactive");

            if (memberInfo.level == 1) {
              $("#level1").addClass("greenactive");
            } else if (memberInfo.level == 2) {
              $("#level2").addClass("greenactive");
            } else if (memberInfo.level == 3) {
              $("#level3").addClass("greenactive");
            } else if (memberInfo.level == 4) {
              $("#level4").addClass("greenactive");
            } else if (memberInfo.level == 5) {
              $("#level5").addClass("greenactive");
            }else if (memberInfo.level == 6) {
              $("#level6").addClass("greenactive");
            }

            $("#record_path").attr('src', memberInfo.record_path);
            if(memberInfo.record_path != ''){
            	$('#download_record_path').attr('href', memberInfo.record_path);
            }

            $("#msglist").empty();

            for (var i = 0; i < bills.length; i++) {

              var tempbills = bills[i];

              if (tempbills.role == 0) {
                var tempstr = '<div class="jimi_lists clearfix">' +
                  '<div class="header_img  icon iconfont icon-zuoxi1"></div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lm"><span></span></td>' +
                  '<td class="mm">' +
                  '<span class="wel"><span class="visitor"><p>' +
                  '' + tempbills.message + '</p></span></span>' +
                  '</td>' +
                  '<td class="rm">' +
                  '</td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>' +
                  '<tr><td></td></tr>' +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

              } else {
                var tempstr = '<div class="customer_lists clearfix">' +
                  '<div class="header_img jimi3 icon iconfont icon-gerenkehuguanli">' +
                  '</div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>'

                  +
                  '<tr>' +
                  '<td class="lm"></td>' +
                  '<td class="mm">' + tempbills.message + '</td>' +
                  '<td class="rm"><span></span></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>'
                  +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

                if ((tempbills.status == 1) && tempbills.hit_keyword) {
                  tempstr += '<div class="customer_lists clearfix">' +
                    '<div class="session-item-left">' +
                    '<div class="ant-popover-placement ant-popover-placement-left">' +
                    '<div class="popover-content">【' + tempbills.hit_keyword + '】<br></div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                }
								tempstr += '<div class="session-item-left">'
												+'<div class="ant-popover-placement ant-popover-placement-left">'
												+'<div class="popover-content audio-content"><audio src="'+tempbills.path+'" class="palay-audio" preload="preload" controls="controls"></audio>'
												+'<br></div></div></div>';
              }
              $("#msglist").append(tempstr);
            }

            $('#call-detail').modal('show');

          } else {
            console.log(data);
            alert(data.msg);
          }

        } else {

          console.log(data);
          //	window.location.href=window.location.href;
        }
      });

      $("#thisId").val(id);
    }


  //设置学习状态 0 待学习 1 已学习 2忽略
  function set_status_learning(id,status){
  	if(!confirm("是否要修改状态？")){
   	 	  return false;
   	 }
  	 if(!id){
   	  	alert('请选择一项再设置状态');
   	 }
   	 var url = "{:url('user/Scenarios/set_status_learning')}"
   	 $.ajax({
   	  	  type:'POST',
					dataType:'json',
					url:url,
					data:{'id':id,'status':status},
					success:function(result){
						 if(result.code==0){
						    //读取当前页数 设置完状态刷新 不需要从第一页开始了
						    var page = $('#learning_page').val();
						    var limit = $('#learning_limit').val();
						 	  alert(result.msg);
						 	  ajaxGetLearning(page,limit);
						 }else{
						 	  alert(result.msg);
						 }
					},
					error:function(){
					  console.log('设置状态出错误');
				  }
   	  });
  }


  //删除学习数据
  function delete_learning(id){
  	 if(!confirm("是否要删除？")){
   	 	  return false;
   	 }
   	 if(!id){
   	  	alert('请选择一项再删除');
   	 }
   	 var url = "{:url('user/Scenarios/delete_learning')}"
   	  $.ajax({
   	  	  type:'POST',
					dataType:'json',
					url:url,
					data : {'id':id},
					success:function(result){
						 if(result.code==0){
						    //读取当前页数 删除完刷新 不需要从第一页开始了
						    var page = $('#learning_page').val();
						    var limit = $('#learning_limit').val();
						 	  alert(result.msg);
						 	  ajaxGetLearning(page,limit);
						 }else{
						 	  alert(result.msg);
						 }
					},
					error:function(){
					  console.log('删除出错误');
				  }
   	  });

  }
  //0 待学习 1 已学习 2忽略 得到学习状态的名字
  function get_status_name(statsu){
  	 if(statsu==0){
  	 	  return '待学习';
  	 }
  	 if(statsu==1){
  	 	  return '已学习';
  	 }
  	 if(statsu==2){
  	 	  return '已忽略';
  	 }
  }


   //时间戳转换函数 xxxx-xx-xx xx:xx:xx
  function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear();
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) ;
        var D = date.getDate();
        if(D<10){
        	 D='0' + D;
        }
        var h = date.getHours() ;
        if(h<10){
        	 h='0' + h;
        }
        var m = date.getMinutes() ;
         if(m<10){
        	 m='0' + m;
        }
        var s = date.getSeconds();
         if(s<10){
        	 s='0' + s;
        }
        return Y+'-'+M+'-'+D+'  '+h+':'+m+':'+s;
    }
  $(function() {
	  $("[data-toggle='tooltip']").tooltip();
	});




</script>
