{extend name="public/base" /}
{block name="body"}

<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link href="/public/css/smsmodel.css" rel="stylesheet" type="text/css">
<link href="/public/css/sale_account.css" rel="stylesheet" type="text/css">
<link href="/public/css/enterprise.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/enterpriseA.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/line_management.css"/>
<script src="__PUBLIC__/js/pubics.js"></script>
<style>
	.line-main p{
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 13px;
	    margin-right: 55px;
	    width: auto;
	}
	 .lrecharge{
		 padding: 3px 7px!important;
 		 border: 1px solid;
  	}
		.sumdata{
			margin-top:80px;
		}
		.sumdata>thead>tr>th{
			font-size:14px;
		}
		.sumdata>thead>tr>th:nth-child(1){
			font-size:15px;
		}
		.sumdata>thead>tr>th>label{
			font-size:16px;
		}

.l-resetBtn {
		padding: 6px 15px;
    color: #333;
    background-color: #fff;
    border-color: #dedede;
}
.l-resetBtn:active, .l-resetBtn:focus, .l-resetBtn:hover, .l-resetBtn:active:focus, .l-resetBtn:active:hover {
    background-color: #fff;
    border-color: #0e90fe;
    color: #0e90fe!important;
}
.l-searchBtn{
	padding: 6px 15px;
}
.form-group label{
	min-width: 0px;
}
label{
	margin-bottom: 0px;
}
.stateBtn{
  width:120px;
}
.e_notedit {
  color: #a4a4a4;
}
.l-width{
  width:270px;
}
.l-overflow{
  overflow-y:auto;
  max-height: 460px;
  padding-bottom: 15px;
}
.l_listtable {
    width: 460px;
    margin: 8px auto;
    border: solid 1px #d7e9ff !important;
    box-sizing: border-box;
}
.l_colsebot {
    margin: 10px 4px 7px;
    width: 74px;
}
.checkbox-wrapper {
    margin-right: 10px;
    padding-top: 6px;
    color: #404040;
}

.l-smsprice{
  position: relative;
}

.l-smsprice::after{
  content: '元/条';
  position:absolute;
  top:7px;
  right: 0px;
}
.smstips{
	font-size: 12px;
	color: #909090;
	padding-left: 3px;
}
.form-group label{
  min-width: 0px!important;
}

@media (max-width: 1780px){
	.line-main p{
		margin-right: 40px;
	}
}

@media (max-width: 1630px){
	.line-main p{
		margin-right: 25px;
	}
}

@media (max-width: 1510px){
	.line-main p{
		margin-right: 8px;
		/*margin-bottom: 3px;*/
	}
}

@media (max-width: 1385px){
	.line-main p{
		margin-bottom: 3px;
	}
}


</style>
<div class="row">
    <div class="col-lg-12">
			<div class="clearfix fadeInRight animated ">
				<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
					<li role="presentation" class='active'>
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">通道列表</a>
						<i></i>
					</li>
					<li role="presentation">
						<a href="#smsChannelAllocate" aria-controls="smsChannelAllocate" role="tab" data-toggle="tab">短信通道分配</a>
						<i></i>
					</li>
					{if session('user_auth.role') == '管理员' || session('user_auth.role') == '运营商'}
					<li role="presentation">
						<a href="#smscount" aria-controls="Consumption" role="tab" data-toggle="tab">短信统计计费</a>
						<i></i>
					</li>
					{/if}
				</ul>
				<div class="main-box s_padding20 clearfix pz_manping_height">
					<div class="tab-content">
						<!--通道列表-->
						<div role="tabpanel" class="tab-pane active" id="home">
							<section class="navbar clearfix">
								<div class="form-inline pull-left">
									<div class="form-group">
										<label class="statusSelect pull-left" >通道名称：</label>
										<input type="text" class="form-control pull-left l-search" id="channel-name" placeholder="请输入通道名称" >
									</div>
									<div class="form-group">
										<span class="btn btn-primary  pull-left" type="button" id="sms-channel-query">查询</span>
										<span class="btn btn-primary  pull-left ant-btn btn-default" type="button" onclick="reset_channel_list()">重置</span>
									</div>
								</div>
								<div class="form-inline pull-right">
									{if $role_id neq 17 && $role_id neq 18}<span class="btn btn-primary add_channel" type="button">添加私有通道</span>{/if}
								  <!-- <a href="#smsChannelAllocate" class="btn btn-primary" aria-controls="smsChannelAllocate" role="tab" data-toggle="tab" onclick="switch_lines();">线路分配</a> -->
								</div>
							</section>
							<div class="table-responsive">
								 <table class="table table-bordered table-hover">
									 <thead>
											<tr>
												<th class="text-center">序号</th>
												<th class="text-center">通道名称</th>
												<th class="text-center">价格(元/条)</th>
												<th class="text-center">来源</th>
												<th class="text-center">操作</th>
												<th class="text-center">备注</th>
											</tr>
										</thead>
										<tbody id="recharge-recored-list">

										</tbody>
									</table>
									<div class="component-page-empty" id="consumeempty">
										<div class="empty-tip line">
											<p><img src="__PUBLIC__/img/none.png" /></p>
											<p>暂无数据</p>
										</div>
									</div>
									<div class="row">
											<footer class="clearfix col-sm-12 foots">
													<div class="pull-left"><span id='sms_channel_count'>0</span>个通道</div>
													<div class="text-right pull-right ">
															<div class="channel_paging">

															</div>
													</div>
											</footer>
									</div>
								</div>
						</div>
						<!--/ 通道列表-->

						<!--短信通道分配-->
						<div role="tabpanel" class="tab-pane" id="smsChannelAllocate">
							<div class="sectionbg">
								<section class="navbar l-navbar clearfix sectionstyle">
									<div class="form-inline pull-left">
										<div class="form-group l-formmargin">
											<label class="control-label">用户名称：</label>
											<select class="form-control" name="accountsel" id="find_users-select_user_name">
												<option value="">请选择用户</option>
                        {volist name="find_users" id="find_user"}
												<option value="{$find_user['id']}">{$find_user['username']}</option>
                        {/volist}
											</select>
										</div>
										<div class="form-group l-formmargin">
											<label class="control-label">用户搜索：</label>
					            <input type="search" id="find_users-input_user_name" class="form-control" placeholder="请输入用户名"  name="" value="">
										</div>
										<div class="form-group formmargin">
											<button type="button" class="btn btn-primary" name="button" id="find_users-search">查询</button>
											<button type="button" class="btn btn-primary ant-btn btn-default" name="button" onclick="reset();">重置</button>
										</div>
									</div>
								</section>
							</div>
							<div class="content">
								<div class="left-content l-overflow pz_innerbox">
									<div class="maincontent">
										<div class="list-title">
											<p><i class="blueline"></i>账户列表</p>
										</div>
										<div class="operator">

										</div>
									</div>
								</div>
								<div class="right-content">
									<div class="main-head clearfix">
										<p class="pull-left line-details" id="current_username"><span></span></p>
										<button type="button" class="btn btn-primary pull-left" name="button" onclick="show_distribution_sms_channel();">分配短信通道</button>
									</div>
									<div>
										<table class="table table-bordered table-hover">
											<tbody id="distribution-details">

											</tbody>
										</table>

									</div>
								</div>
							</div>
						</div>
						<!--/ 短信通道分配-->

						<!--短信统计计费-->
						{if session('user_auth.role') == '管理员' || session('user_auth.role') == '运营商'}
						<div role="tabpanel" class="tab-pane" id="smscount">
							<section class="navbar clearfix">
								<div class="form-inline pull-left">
									<div class="form-group">
										<label class="statusSelect pull-left">通道名称：</label>
										<select name="lineName" id="selectSmsName" class="form-control resetSel c_selectimg l-search">
												<option value="0">请选择通道</option>
												{volist name="sms" id="sms"}
				                <option value="{$sms['name']}" data-cost="{$sms['price']}">{$sms['name']}</option>
				                {/volist}
										</select>
									</div>
									<div class="form-group">
										<label class="statusSelect pull-left">用户名：</label>
										<input type="text" class="form-control pull-left l-search" autocomplete="off" id="username_details" name="keyword" placeholder="请输入用户名">
										<!--<label class="statusSelect pull-left">用户名称：</label>-->
										<!--<select name="lineName" id="username_details" class="form-control resetSel c_selectimg l-search">-->
										<!--		<option value="0">请选择用户</option>-->
										<!--</select>-->
									</div>
									<div class="form-group">
										<span class="btn btn-primary  pull-left" type="button" onclick="get_sms_statistical()">查询</span>
										<span class="btn btn-primary  pull-left ant-btn btn-default" type="button" onclick="reset_sms_statistical()">重置</span>
									</div>
							</div>
							<div class="form-inline pull-right " >
								<!--<span class="btn btn-primary" type="button" data-title="删除多个线路" onclick="popTipswin(this)">批量删除</span>-->
							</div>
						</section>
							<div class="table-responsive">
							 <table class="table table-bordered table-hover">
								 <thead>
										<tr>
											<!--<th class="text-center">-->
											<!--	<input class="check-all" name='all_checked' type="checkbox"/>-->
											<!--</th>-->
											<th class="text-center">序号</th>
											<th class="text-center">通道名称</th>
											<th class="text-center">用户名称</th>
											<th class="text-center">用户类型</th>
											<th class="text-center">使用条数</th>
											<th class="text-center">成本价</th>
											<th class="text-center">成本总额</th>
											<th class="text-center">销售价</th>
											<th class="text-center">销售总额</th>
											<th class="text-center">利润</th>
											<th class="text-center">计费时间</th>
											<th class="text-center">通道来源</th>
										</tr>
									</thead>
									<tbody id="sms_recored_list">

									</tbody>
								</table>
								<div class="component-page-empty" id="consumeempty2">
									<div class="empty-tip line">
										<p><img src="__PUBLIC__/img/none.png" /></p>
										<p>暂无数据</p>
									</div>
								</div>
								<div class="row">
										<footer class="clearfix col-sm-12 footss">
												<div class="pull-left" style="line-height: 44px;">
													全部数据：<span id='jifei_count'></span>条
												</div>
												<div class="text-right pull-right smspaging">
													<p>总页数：1页</p>
												</div>
										</footer>
								</div>

								<div class="row">
										<footer class="clearfix col-sm-12">
											<table class="table table-bordered table-hover sumdata">
												<thead>
													<tr>
														<th class="text-center" >合计：</th>
														<th >总使用条数：<label id="zong_count"></label></th>
														<th>成本总额：<label id="zonge_cost"></label></th>
														<th>销售总额：<label id="zonge_Sale"></label></th>
														<th>总利润：<label id="zong_profit"></label></th>
													</tr>
												</thead>
											</table>
										</footer>
								</div>
							</div>
						</div>
						{/if}
						<!--/ 短信统计计费-->
					</div>
				</div>
			</div>

    </div>
</div>
<!-- 添加、编辑 私有通道 -->
<div class="modal fade in" id="add_privateChannelDialog" tabindex="-1" role="dialog" aria-labelledby="myLprivateChannelLabel" aria-hidden="false" style="display: none;">
  <div class="modal-dialog modal-sm" style="width: 530px;">
		<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="addprivateChannel"><span>添加私有通道</span></h4>
			 </div>
			 <div class="modal-body l-overflow pz_innerbox">
					<form id="addprivateChannelform" method="post" class="form-horizontal margintop">
							 <div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">通道名称：</label>
								<div class="col-lg-6 col-sm-6">
									 <input type="text" class="form-control l-width" placeholder="请输入通道名称" name="name" id="sms-channel-name">
								</div>
							</div>
							<div class="form-group">
							 <label class="col-lg-3 col-sm-3 control-label">短信运营商：</label>
							 <div class="col-lg-6 col-sm-6">
								 <select class="form-control l-width" name="type">
									 <option value="">请选择短信运营商</option>
								    <option value="爱讯短信">爱讯短信</option>
								    <option value="恒讯创业">恒讯创业</option>
                                                                    <option value="253云通讯">253云通讯</option>
                                                                    <option value="云片网">云片网</option>
                                                                    <option value="传信网">传信网</option>
                                                                    <option value="网建短信通">网建短信通</option>
                                                                    <option value="盛世云SMS">盛世云SMS</option>
                                                                    <option value="在线信使">在线信使</option>
								 </select>
							 </div>
						 </div>
							<div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">接口地址：</label>
								<div class="col-lg-6 col-sm-6">
                  <input type="text" class="form-control l-width" placeholder="请输入接口地址" id="sms-channel-url">
								</div>
							</div>
              <div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">短信ID：</label>
								<div class="col-lg-6 col-sm-6">
                  <input type="text" class="form-control l-width" placeholder="请输入短信ID" id="sms-channel-userid">
								</div>
							</div>
              <div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">短信账号：</label>
								<div class="col-lg-6 col-sm-6">
                  <input type="text" class="form-control l-width" placeholder="请输入短信账号" id="sms-channel-username">
								</div>
							</div>
              <div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">短信密码：</label>
								<div class="col-lg-6 col-sm-6">
                  <input type="password" class="form-control l-width" placeholder="请输入短信密码" id="sms-channel-password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label ">短信单价：</label>
								<div class="col-lg-6 col-sm-6 l-smsprice">
                  <input type="text" class="form-control l-width " placeholder="请输入短信单价" id="sms-channel-price">
									<img src="/public/img_sj/pay_attention.png" alt="">
									<span class="smstips"> 短信通道单价为营销类单价</span>
								</div>
							</div>
							<!--<div class="form-group">-->
							<!--	<label class="col-lg-3 col-sm-3 control-label">短信数量：</label>-->
							<!--	<div class="col-lg-6 col-sm-6">-->
       <!--           <input type="text" class="form-control l-width" placeholder="请输入短信数量" id="sms-channel-count">-->
							<!--	</div>-->
							<!--</div>-->
							<div class="form-group">
								<label class="col-lg-3 col-sm-3 control-label">备注：</label>
								<div class="col-lg-6 col-sm-6">
                  <textarea name="name" id="sms-channel-note" class="l-width" rows="3" maxlength="30" placeholder="请输入备注信息，限定30个字以内"></textarea>
								</div>
							</div>

				 </form>
			 </div>
			 <div style="clear:both"></div>
			 <div class="modal-footer">
			 	 <input type='hidden' id="channel_id" value=""/>
			 	 <input type='hidden' id='channel_action' value=""/>
				 <button type="button" class="btn btn-default btncloseprojectile-frame" data-dismiss="modal">取消</button>
         <button class="btn btn-primary submit-btn btnokprojectile-frame" id="add_channel" type="button">确认</button>
			</div>
	 </div>
  </div>
</div>

<!-- 分配通道 -->
<div class="modal fade in" id="alloction-passageway" tabindex="-1" role="dialog" aria-labelledby="myalloctionLabel" aria-hidden="false" style="display: none;">
  <div class="modal-dialog modal-sm" style="width: 530px;">
	 <div class="modal-content">
	 <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				 <span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title" id="myalloctionLabel"><span>分配短信通道</span></h4>
	 </div>
	 <div class="modal-body pagelists l-overflow pz_innerbox">
			<form id="userlistform" method="post" class="form-horizontal margintop" enctype="multipart/form-data">
				<div class="form-group" style="padding-top:9px">
					<label class="col-lg-4 col-sm-4 control-label">用户名称：</label>
					<div class="col-lg-6 col-sm-6">
							<label class="checkbox-wrapper show_username">yunyingshang01</label>
              <input type='hidden' value="" id="find_user_id">
					</div>
				</div>
				<div class="form-group">
						<label class="col-lg-4 col-sm-4 control-label">选择通道：</label>
						<div class="col-lg-6 col-sm-6 l_selectline">
							<select class="form-control resetSel c_selectimg" name="" id='sms_channel_options'>
								<option value="">请选择通道</option>
								<option value="">通道1</option>
								<option value="">通道2</option>
							</select>
						</div>
					</div>
					<div class="form-group hidden cost-price">
						<label class="col-lg-4 col-sm-4 control-label">通道成本价：</label>
						<div class="col-lg-6 col-sm-6">
              <label class="control-label" id="show_cost">0.00元/条</label>
						</div>
					</div>
					{if session('user_auth.role') != '商家'}
					<div class="form-group">
						<label class="col-lg-4 col-sm-4 control-label">通道销售价：</label>
						<div class="col-lg-6 col-sm-6 l-yuantiao">
							<input type="text" name="" id='price' class="form-control" placeholder="请输入通道销售价格" value="">
						</div>
					</div>
					{/if}
					<!--<div class="form-group">-->
					<!--	<label class="col-lg-4 col-sm-4 control-label">短信条数：</label>-->
					<!--	<div class="col-lg-6 col-sm-6">-->
     <!--        <input type="text" class="form-control" name="" value="" id="count" placeholder="请输入短信条数">-->
						 <!-- <img src="/public/img_sj/pay_attention.png" alt=""> -->
					<!--	 <span class="smstips">当前可用短信条数<span id="show_count">0</span></span>-->
					<!--	</div>-->
					<!--</div>-->
          <div class="form-group">
            <label class="col-lg-4 col-sm-4 control-label">备注：</label>
            <div class="col-lg-6 col-sm-6">
              <textarea class="textarea-len form-control" name="name" rows="8"  maxlength="30" id="notes" placeholder="请输入备注信息，限定30个字以内" style="width:290px;"></textarea>
            </div>
          </div>
		 </form>
	 </div>
	 <div style="clear:both"></div>
	 <div class="modal-footer">
					 <button type="button" class="btn btn-default btncloseprojectile-frame" data-dismiss="modal">取消</button>
           <button class="btn btn-primary submit-btn btnokprojectile-frame" id="sms_channel_distribution_submit" type="button">保存</button>
				</div>
	 </div>
  </div>
</div>
<!-- 提示模板框 -->
<div class="modal fade in" id="tips_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
	<div class="modal-dialog" style="width:350px;">
		<div class="modal-content modal-contenttips n_modalcontent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="mytitleLabel">
					操作提示
				</h4>
			</div>
			<div class="modal-body">
				确定删除该短信通道吗？
			</div>
			<div class="modal-footer">
				<input type='hidden' id='sms_channel_id' value=''/>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn btn-primary" id="delete_sms_channel">
					确认
				</button>
			</div>
		</div>
	</div>
</div>
<script type='text/template' id='distribution_sms_channel_option'>
  <tr>
    <td><b>通道名称：</b>{%name%}</td>
    <td><b>成本价：</b>{%cost%}元/条</td>
    {if session('user_auth.role') != '商家'}
    <td><b>销售价：</b>{%price%}元/条</td>
    {/if}
    <td><b>分配时间：</b>{%create_time%}</td>
    <td  class="remarktab"><b>备注：</b>{%note%}</td>
    <td>
			<a href="javascript:;" data-title="删除用户通道" class='delete_find_sms_channel' data-id="{%id%}"><img src="__PUBLIC__/img_sj/del.png" alt=""></a>
		</td>
  </tr>
</script>
<script type='text/template' id='list_option'>
  <tr>
		<td class="text-center">{%key%}</td>
		<td class="text-center">{%name%}</td>
		<td class="text-center">{%price%}</td>
		<td class="text-center">{%source%}</td>
		<td class="text-center">
      {%operation%}
		</td>
		<td class="text-center">{%note%}</td>
	</tr>
</script>
<!--短信计费统计  表格模板-->
<script type="text/template" id='sms_recored_template'>
 	<tr>
    <td class="text-center">{%key%}</td>
    <td class="text-center">{%sms_name%}</td>
    <td class="text-center">{%username%}</td>
    <td class="text-center">{%usertype%}</td>
    <td class="text-center">{%sms_cnt%}</td>
    <td class="text-center">{%cost_price%}</td>
    <td class="text-center">{%total_cost%}</td>
    <td class="text-center">{%sale_price%}</td>
    <td class="text-center">{%total_sale%}</td>
    <td class="text-center">{%profit%}</td>
    <td class="text-center">{%charging_time%}</td>
    <td class="text-center">{%sms_source%}</td>
	</tr>
</script>
<script type='text/javascript' src='/public/js/paging.js'></script>
<script type="text/javascript" src='/public/js/sms-channel.js'></script>
<script type="text/javascript">
//当前页全选
$("input[name='all_checked'][type='checkbox']").click(function () {
    if ($("input[name='all_checked'][type='checkbox']").is(":checked")) {
        $("input[name='roleids'][type='checkbox']").prop("checked", true);
    } else {
        $("input[name='roleids'][type='checkbox']").prop("checked", false);
    }
});
//子复选框的事件
$('input[type="checkbox"][name="roleids"]').click(function () {
    //当没有选中某个子复选框时，check-all取消选中
    if (!$(".rolecheck").checked) {
        $("input[name='all_checked'][type='checkbox']").prop("checked", false);
    }
    var chsub = $("input[name='roleids'][type='checkbox']").length; //获取roleids的个数
    var checkedsub = $("input[name='roleids'][type='checkbox']:checked").length; //获取选中的roleids的个数
    if (checkedsub == chsub) {
        $("input[name='all_checked'][type='checkbox']").prop("checked", true);
    }
});
//重置
function orderChongzhi() {
  $('#channel-name').val("");
}
</script>

<script>

//查看用户名单
function show_userList(){
  $('#user_list').modal('show');
}

//通道分配
function allocation_passageway(){
  $('#alloction-passageway').modal('show');
}

//充值短信条数
function recharge_sms(){
	$('#smsNmber').val('');
	$('#recharge-sms').modal('show');
}
function rechargesms(){
var smsNumber =	$('#smsNmber').val();
var sumSmsNum = $('#sumSmsNum').text();
	if(smsNumber>sumSmsNum){
		alert("短信剩余数量不足！");
	}
}

function switch_lines() {
	$('.nav-tabs>li:nth-of-type(2)').addClass('active').siblings().removeClass('active');
}

$('.l-account').click(function(){
 $(this).addClass('l-account-active').siblings().removeClass('l-account-active');
});

</script>




<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/new_index.css">
<!-- 提示模板框 -->
<div class="modal fade" id="tips_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!-- 弹窗模板 -->
<script type="text/template" id="popTips">
	<div class="modal-dialog" style="width:350px;">
		<div class="modal-content modal-contenttips n_modalcontent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="mytitleLabel">
					{{tipstitle}}
				</h4>
			</div>
			<div class="modal-body">
				{{tipsdata}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn btn-primary"  onclick="{{clickfun}}">
					确认
				</button>
			</div>
		</div>
	</div>
</script>
<!-- 弹窗展示 -->
<script type="text/javascript">
	function popTipswin(obj) {
		//获取弹窗标题
		var poptitle = $(obj).attr('data-title');
		switch (poptitle) {
			case '批量删除':
				var title = '操作提示';
				var note = '确定批量删除选中的数据？'
				var click = 'delRole(0);';
				break;
			case '删除模板':
				var title = '操作提示';
				var note = '确定删除选中记录？'
				var selid = $(obj).attr('data-id');
				var click = 'delRole(selid);';
				break;
      case '导出文件':
				var title = '操作提示';
				var note = '确定导出该数据？'
				var click = 'n_listdataout();';
				break;
			case '开启':    //商家账户中账户状态开启/锁定   待处理
				var title = '操作提示';
				var note = '确认开启所选账户？';
				var click = 'openstar(0)';
				break;
			case '锁定':  //商家账户中账户状态开启/锁定   待处理
				var title = '操作提示';
				var note = '确认锁定所选账户？';
				var click = 'openstar(1)';
				break;
			case '多个开启':  //商家账户中账户状态开启/锁定   待处理
				var title = '操作提示';
				var note = '确认开启所选账户？';
				var click = 'openstar()';
				break;
			case '多个锁定':  //商家账户中账户状态开启/锁定   待处理
			var title = '操作提示';
			var note = '确认锁定所选账户？';
			var click = 'openstar()';
			break;
			case '重置密码':    //商家账户中账户重置密码   待处理
				var title = '操作提示';
				var note = '确认重置密码？';
				var click = 'resetpassword()';
				break;
			case '删除':    //商家账户中账户删除   待处理
				var title = '操作提示';
				var note = '确认删除？';
				var click = 'del();';
				break;
			case '删除多个线路':    // 待处理
				var title = '操作提示';
				var note = '确定删除所选中线路？';
				var click = 'delline();';
				break;
			case '删除单个线路':    // 待处理
				var title = '操作提示';
				var note = '确定删除当前用户的线路？';
				var click = 'delline();';
				break;
			case '删除单个ASR':    // 待处理
				var title = '操作提示';
				var note = '确定删除当前用户的ASR？';
				var click = 'delete_asr();';
				break;
			case '删除销售账号':    // 待处理
				var title = '操作提示';
				var note = '确定删除所选中账户？';
				var click = '';
				break;
			case '删除单个销售账号':    // 待处理
				var title = '操作提示';
				var note = '确定删除该账户？';
				var click = '';
				break;
			case '删除公众号':    // 待处理
				var title = '操作提示';
				var note = '确定删除公众号？';
				var click = '';
				break;
			case '启用公众号':    // 待处理
				var title = '操作提示';
				var note = '确定停用公众号？';
				var click = '';
				break;
			case '停用公众号':    // 待处理
				var title = '操作提示';
				var note = '确定启用公众号？';
				var click = '';
				break;
			case '添加公众号':    // 待处理
				var title = '操作提示';
				var note = '确定添加该公众号？';
				var click = '';
				break;
			case '删除坐席分组':    // 待处理
				var title = '操作提示';
				var note = '确定删除该组？';
				var click = 'delgroup();';
				break;
			case '删除坐席':    // 待处理
				var title = '操作提示';
				var note = '确定删除该坐席？';
				var click = '';
				break;
			case '重置密码':    // 待处理
				var title = '操作提示';
				var note = '确认重置密码？';
				var click = '';
				break;
			case '锁定坐席':    // 待处理
				var title = '操作提示';
				var note = '确认锁定该坐席？';
				var click = '';
				break;

		}
		$template = $("#popTips").html();
		$template = $template.replace("{{tipstitle}}", title);
		$template = $template.replace("{{tipsdata}}", note);
		$template = $template.replace("{{clickfun}}", click);
		//追加
		$('#tips_model').html($template);
		$('#tips_model').modal('show');
	}

  //导出文件
  function n_listdataout() {
    $('#tips_model').modal('hide');
  }

</script>

<script type="text/javascript">
	//添加私有通道
	function passageway_add_edit(id){
		//添加私有通道
		if(id == 0){
			$('#add_privateChannelDialog').modal('show');
			$('#addprivateChannel>span').text('添加私有通道');
			$('.submit-btn').text('确认');
		} else {
			alert("mdjf");
			//编辑私有通道
			$('#add_privateChannelDialog').modal('show');
			$('#addprivateChannel>span').text('编辑私有通道');
			$('.submit-btn').text('保存');
		}
	}
</script>
{/block}
