<style type="text/css">
  .modal-dialog {
    margin: 40px auto !important;
  }
  .textwidth {
    width: 250px;
  }

  .add_yuyin {
    height: .85rem;
    border-top: 1px solid #e5e5e5;
    margin-left: .28rem;
    line-height: .85rem;
    width: 100%;
    float: left;
  }

  .luzhiyy {
    position: relative;
    font-size: .3rem;
    color: #666
  }

  .luzhiyy::after {
    position: absolute;
    right: .25rem;
    top: .28rem;
    width: .3rem;
    height: .3rem;
    content: "";
    background: url("../images/icon.png") no-repeat -5.78rem -3.59rem;
    background-size: 14.57rem 4.86rem;
  }

  .luzhiyy s {
    display: inline-block;
    width: .48rem;
    height: .48rem;
    background: url("../images/icon.png") no-repeat -5.59rem -2.86rem;
    background-size: 14.57rem 4.86rem;
    vertical-align: middle;
    margin-right: .24rem;
  }

  .tijaobtn {
    width: 90%;
    height: .8rem;
    background-color: #f16461;
    text-align: center;
    line-height: .8rem;
    color: #fff;
    margin: 0rem auto;
    display: block;
    border-radius: 6px;
    font-size: .3rem;
  }

  .tijaobtn[disabled] {
    background-color: #f4cac9;
  }

  .r_yuyin {
    color: #999999;
    height: .4rem;
    line-height: .4rem;
    padding: 0 .1rem;
    background-color: #95ce73;
    border: 1px solid #368e42;
    border-radius: 6px;
    max-width: 75%;
    min-width: 18%;
    position: relative;
    float: right;
  }

  .r_yuyin s {
    width: .4rem;
    height: .4rem;
    position: absolute;
    right: .2rem;
    top: .09rem;
    background: url("../images/icon.png") no-repeat -7.11rem -3.62rem;
    background-size: 14.57rem 4.86rem;
  }

  .deleteicon {
    width: .55rem;
    height: .5rem;
    background: url("../images/icon.png") no-repeat -6.17rem -3.41rem;
    background-size: 14.57rem 4.86rem;
    margin-top: .12rem;
    margin-left: .1rem;
    float: left;
  }

  .luyin_dialog {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../images/luyinbg.jpg") no-repeat center center;
    background-size: cover;
    display: none;
  }

  .r_yuyin i {
    float: right;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
  }

  .header_img {
    font-size: 30px;
  }

  .audio-c {
    width: 100%;
    background-color: #0e90fe;
    text-align: center;
    padding-top: 5px;
  }
  .audio-c p {
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
  	line-height: 40px;
  	margin-top: -5px;
  	margin-bottom: 0px;
  }
  .audio-c a {
  	position: absolute;
  	color: #fff;
  	top:50%;
  	right: 8%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  .info_s {
    display: block;
    float: left;
    /* width: 27%; */
		width: 310px;
    background-color: #fff;
    margin-right: 20px;

  }

  .info_s h4 {
    font-weight: normal;
    background-color: #0e90fe;
    color: #fff;
    /*padding: 6px 5px;*/
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    width: 100%;
		text-align: center;
		font-size: 14px;
	}
	.info_s h4:nth-of-type(1) {
		margin-top: 0px;
	}

  .item {
		border-radius: 3px;
		border: solid 1px #dcdcdc;
    padding: 5px;
		display: inline-block;
		width: 47%;
		margin-top: 10px;
		text-align: center;
		font-size: 12px;
  }

  .greenactive {
  	border: solid 1px #69baff;
    background-color: #e3eff7;
    color: #0e90fe;;
  }

  .tip {
    font-size: 12px;
  }

  .popover-content {
    color: #008cee;
    text-align: right;
    margin-right: 50px;
  }

  .c_calldata {
  	font-size: 12px;
  	font-weight: bold;
  	color: #404040;
  	margin-top: 6px;
  }
  
  .c_calldata span {
  	font-weight: normal;
  }
  
  .c_callresult {
  	width: 47%;
  }
  
  .content {
  	height: 560px !important;
  	display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  
  #msglist {
  	overflow: auto;
  	flex: 1;
  }

	.audio-content{
	margin-bottom: 10px;
	}
	
	.popover-content{
		padding: 0px 14px;
	}

  .palay-audio{
  	width: 255px;	
  	height: 50px;
  }
  

</style>


<link href="__STATIC__/css/chat.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/js/audio.js"></script>

<!--  通话详情  -->

<div class="modal fade bs-example-modal-lg " id="call-detail1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="to-switch">
        <div class="pre"><img src="/public/img/left.png"></div>
        <div class="next"><img src="/public/img/right.png"></div>
    </div>
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><strong>查看 (由于录音数据量大，因此录音默认在通话结束后3-5分钟后显示）</strong></h4>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="containerss">

            <div class="info_s">
              <h4>基本信息</h4>
              <input hidden id="thisId">
              <div class="c_calldata">
                号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<span id="mobile">18811112222</span>
              </div>
              <div class="c_calldata">
                任务名称：<span id="taskname"></span>
              </div>

              <div class="c_calldata">
                话术名称：<span class="iparea" id="speechname"></span>
              </div>

              <h4 style="margin-bottom:4px;">通话结果</h4>
              <div class="dflex">
              	<div class="c_calldata c_callresult">
                	拨打状态：<span id="statusinfo">无人接听</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	客户说话：<span id="customer_talk"></span>
              	</div>
              	<div class="c_calldata c_callresult">
                	通话时长：<span class="iparea" id="duration">0秒</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	触发问题：<span class="iparea" id="trigger_pro">0次</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	有效对话：<span class="iparea" id="effective_talk">0次</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	肯定次数：<span class="iparea" id="sure_talk">0</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	中性次数：<span class="iparea" id="neutral_talk">0</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	否定次数：<span class="iparea" id="negative_talk">0</span>
              	</div>
              	<div class="c_calldata c_callresult">
                	是否邀约成功：<span class="iparea" id="c_invitation">否</span>
              	</div>
              	<div class="c_calldata c_callresult" style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
                	命中关键词：<span class="iparea" id="keyNum">0个</span>
              	</div>
              </div>

              <div class="c_calldata">
                拨打时间：<span id="last_dial_time"></span>
              </div>
              <div class="c_calldata">
                语义标签：<span class="iparea" id="semantic_tag"></span>
              </div>
              <div class="c_calldata">
                流程标签：<span class="iparea" id="process_tag"></span>
              </div>
              <div class="c_calldata">
                问答标签：<span class="iparea" id="answer_tag"></span>
              </div>


              <h4>客户意向评估等级</h4>
              <div class="dflex">
                <div class="item" data-id="6" id="level6" >
                  A类<span class="tip">(有明确意向)</span>
                </div>

                <div class="item" data-id="5" id="level5" >
                  B类<span class="tip">(可能有意向)</span>
                </div>

                <div class="item" data-id="4" id="level4" >
                  C类<span class="tip">(明确拒绝)</span>
                </div>

                <div class="item" data-id="3" id="level3" >
                  D类<span class="tip">(用户忙)</span>
                </div>

                <div class="item" data-id="2" id="level2" >
                  E类<span class="tip">(拨打失败)</span>
                </div>
                <div class="item" data-id="1" id="level1" >
                  F类<span class="tip">(无效客户)</span>
                </div>
              </div>
              <h5 style="text-align:center;color:#909090;margin-top:12px;font-size:12px;">温馨提示：该客户意向评估等级可以修改</h5>

            </div>

            <div id="chatcontent" class="content chat-block" tabindex="0">

              <div class="audio-c">
              	<div class="show_audio pr">
              		<audio src="" id="record_path1" controls="controls"></audio>
              		<a href="javascript:;"><img src="__IMG__/n_xiazai.png" alt=""/>下载</a>
              	</div>

                <p class="dis_no">没有录音</p>
              </div>

              <div id="msglist1">


              </div>

            </div>


          </div>
        </div> 

      </div>

      <div class="modal-footer hide">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn btn-primary"  onclick="">
					确认
				</button>
			</div>

    </div>

  </div>
  <!-- 隐藏的数据 便于 上一条 下一条查询通话详情  -->
  <input type="hidden" id="crm_id" value="">
  <!--查询条件 json序列化-->
  <input type="hidden" id="chaxun_tiaojian1" value="">
  <!--详情中 上一条 下一条的翻页-->
  <input type="hidden" id="xiangqing_next_hidden" value="">

  <script type="text/javascript">
  
    //当前通话详情的上一条
   function beforGotoDetail(){
		var url = "{:url('get_crm_record_befor')}";
		//得到查询条件的数据 json形式的
		var tiaojian = $('#chaxun_tiaojian1').val();
		var tiaojian_obj =	$.parseJSON(tiaojian)
		//读取当前crm_id
		var crm_id = $("#crm_id").val();
    tiaojian_obj.crm_id=crm_id;
		//读取详情中上一条 下一条的翻页
		var page = $('#xiangqing_next_hidden').val();
		//如果是空的话 代表第一次点击详情 还没有点击上一条下一条呢 那么就读取当前页码
		if(!page){
		   page = $('#Nowpagehidden').val();
		}
		tiaojian_obj.page = page;
		console.log(tiaojian_obj);
		$.ajax({
			url : url,
			dataType : "json",
			type : "post",
			data : tiaojian_obj,
			success: function(data){
			  console.log(data);
			  if(data.code==0){
			    var id = data.data.id;
			    var page  = data.data.page;
			    $('#xiangqing_next_hidden').val(page);
			    gotoDetail1(id);
			  }else{
			     //否则 没有上一条了
			     alert(data.msg);
			     return false;
			  }
			}
		});
   }
   //当前通话详情的下一条
   function nextGotoDetail(){
		var url = "{:url('get_crm_record_next')}";
	  	//得到查询条件的数据 json形式的
		var tiaojian = $('#chaxun_tiaojian1').val();
		var tiaojian_obj =	$.parseJSON(tiaojian)
		//读取当前crm_id
		var crm_id = $("#crm_id").val();
    tiaojian_obj.crm_id=crm_id;
		//读取详情中上一条 下一条的翻页
		var page = $('#xiangqing_next_hidden').val();
		//如果是空的话 代表第一次点击详情 还没有点击上一条下一条呢 那么就读取当前页码
		if(!page){
		   page = $('#Nowpagehidden').val();
		}
		tiaojian_obj.page = page;
		console.log(tiaojian_obj);
		$.ajax({
			url : url,
			dataType : "json",
			type : "post",
			data : tiaojian_obj,
			success: function(data){
			  console.log(data);
			  if(data.code==0){
			    var id = data.data.id;
			    var page  = data.data.page;
			    $('#xiangqing_next_hidden').val(page);
			    gotoDetail1(id);
			  }else{
			     //否则 没有上一条了
			     alert(data.msg);
			     return false;
			  }
			}
		});
   }
   function gotoDetail1(id) {
      $('#crm_id').val(id);
      data={};
      data.id=id;
      $.post("{:url('Member/crm_backdetail')}", data, function(data) {
        if (data) {
          console.log(data);
          console.log('99999999999');
          if (data.code == 0) {
            var memberInfo = data.data.memberInfo;
            //通话记录
            var bills = data.data.bills;
						if(memberInfo.length == 0 && bills.length == 0){
							console.log("暂无数据");
						}
						$('#taskname').text(memberInfo.task_name);	//任务名称
						$('#speechname').text(memberInfo.speechname);//话术名称
						
						$('#customer_talk').text(memberInfo.call_times);//客户说话次数
						
						$('#trigger_pro').text(memberInfo.hit_times); //触发问题
						$("#duration").text(memberInfo.duration + '秒');   //通话时长 
						$('#effective_talk').text(memberInfo.effective_times);//有效对话
						$('#sure_talk').text(memberInfo.affirm_times);//肯定次数
						$('#neutral_talk').text(memberInfo.neutral_times); //中性次数
						$('#negative_talk').text(memberInfo.negative_times); //否定次数
						$('#c_invitation').text(memberInfo.successyaoyue);//是否邀约成功
						$("#last_dial_time").text(memberInfo.last_dial_time); //最后拨打时间
						
						$('#semantic_tag').text(memberInfo.semantic_label);//语义标签
						$('#process_tag').text(memberInfo.flow_label);//流程标签
						$('#answer_tag').text(memberInfo.knowledge_label);//问答标签
						
            $("#nickname").text(memberInfo.nickname);
            $("#sex").text(memberInfo.sex);
            $("#mobile").text(memberInfo.mobile);
            

           
            $("#call_time").text(memberInfo.call_times + '轮');
            $("#originatingCall").text(memberInfo.originating_call);
            $("#keyNum").text(data.data.num);//命中关键字
            $("#keyNum").parent().attr("title",data.data.num);//命中关键字
            var strstatus = "未拨打";
            switch (memberInfo.status) {
              case 2:
                strstatus = "已接通";
                break;
              case 3:
                strstatus = "无人接听";
                break;
              case 4:
                strstatus = "停机";
                break;
              case 5:
                strstatus = "空号";
                break;
              case 6:
                strstatus = "正在通话中";
                break;
              case 7:
                strstatus = "关机";
                break;
              case 8:
                strstatus = "用户拒接";
                break;
              case 9:
                strstatus = "网络忙";
                break;
              case 10:
                strstatus = "来电提醒";
                break;
              case 11:
                strstatus = "呼叫转移失败";
                break;
              default:
                strstatus = "--";
                break;
            }
            $("#statusinfo").text(strstatus); //拨打状态
            $(".greenactive").removeClass("greenactive");

            if (memberInfo.level == 1) {
              $("#level1").addClass("greenactive");
            } else if (memberInfo.level == 2) {
              $("#level2").addClass("greenactive");
            } else if (memberInfo.level == 3) {
              $("#level3").addClass("greenactive");
            } else if (memberInfo.level == 4) {
              $("#level4").addClass("greenactive");
            } else if (memberInfo.level == 5) {
              $("#level5").addClass("greenactive");
            }else if (memberInfo.level == 6) {
              $("#level6").addClass("greenactive");
            }

            $("#record_path1").attr('src', memberInfo.record_path);

            $("#msglist1").empty();

            for (var i = 0; i < bills.length; i++) {

              var tempbills = bills[i];

              if (tempbills.role == 0) {
                var tempstr = '<div class="jimi_lists clearfix">' +
                  '<div class="header_img  icon iconfont icon-zuoxi1"></div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lm"><span></span></td>' +
                  '<td class="mm">' +
                  '<span class="wel"><span class="visitor"><p>' +
                  '' + tempbills.message + '</p></span></span>' +
                  '</td>' +
                  '<td class="rm">' +
                  '</td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>' +
                  '<tr><td></td></tr>' +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

              } else {
                var tempstr = '<div class="customer_lists clearfix">' +
                  '<div class="header_img jimi3 icon iconfont icon-gerenkehuguanli">' +
                  '</div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>'

                  +
                  '<tr>' +
                  '<td class="lm"></td>' +
                  '<td class="mm">' + tempbills.message + '</td>' +
                  '<td class="rm"><span></span></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>'

                  +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

                if ((tempbills.status == 1) && tempbills.hit_keyword) {
                  tempstr += '<div class="customer_lists clearfix">' +
                    '<div class="session-item-left">' +
                    '<div class="ant-popover-placement ant-popover-placement-left">' +
                    '<div class="popover-content">【' + tempbills.hit_keyword + '】<br></div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                }
                tempstr += '<div class="session-item-left">'
												+'<div class="ant-popover-placement ant-popover-placement-left">'
												+'<div class="popover-content audio-content"><audio src="'+tempbills.path+'" class="palay-audio" preload="preload" controls="controls"></audio>'
												+'<br></div></div></div>';

              }
              $("#msglist1").append(tempstr);
            }
            //读取详情中上一条 下一条的翻页
		        var page = $('#xiangqing_next_hidden').val();
            var limit = $('#Nowlimithidden').val();
            ajax_member(page,limit);
            $('#call-detail1').modal('show');

          } else {
            console.log(data);
            alert(data.msg);
          }

        } else {

          console.log(data);
          //	window.location.href=window.location.href;
        }
      });

      $("#thisId").val(id);
    }
  
  
    function gotoDetail(id) {
      $('#crm_id').val(id);
      data={};
      data.id=id;
      $.post("{:url('Member/crm_backdetail')}", data, function(data) {
        if (data) {
          console.log(data);
          console.log('99999999999');
          if (data.code == 0) {
            var memberInfo = data.data.memberInfo;
            //通话记录
            var bills = data.data.bills;
						if(memberInfo.length == 0 && bills.length == 0){
							console.log("暂无数据");
						}
						$('#taskname').text(memberInfo.task_name);	//任务名称
						$('#speechname').text(memberInfo.speechname);//话术名称
						
						$('#customer_talk').text(memberInfo.call_times);//客户说话次数
						
						$('#trigger_pro').text(memberInfo.hit_times); //触发问题
						$("#duration").text(memberInfo.duration + '秒');   //通话时长 
						$('#effective_talk').text(memberInfo.effective_times);//有效对话
						$('#sure_talk').text(memberInfo.affirm_times);//肯定次数
						$('#neutral_talk').text(memberInfo.neutral_times); //中性次数
						$('#negative_talk').text(memberInfo.negative_times); //否定次数
						$('#c_invitation').text(memberInfo.successyaoyue);//是否邀约成功
						$("#last_dial_time").text(memberInfo.last_dial_time); //最后拨打时间
						
						$('#semantic_tag').text(memberInfo.semantic_label);//语义标签
						$('#process_tag').text(memberInfo.flow_label);//流程标签
						$('#answer_tag').text(memberInfo.knowledge_label);//问答标签
						
            $("#nickname").text(memberInfo.nickname);
            $("#sex").text(memberInfo.sex);
            $("#mobile").text(memberInfo.mobile);
            

           
            $("#call_time").text(memberInfo.call_times + '轮');
            $("#originatingCall").text(memberInfo.originating_call);
            $("#keyNum").text(data.data.num);//命中关键字
            $("#keyNum").parent().attr("title",data.data.num);//命中关键字
            var strstatus = "未拨打";
            switch (memberInfo.status) {
              case 2:
                strstatus = "已接通";
                break;
              case 3:
                strstatus = "无人接听";
                break;
              case 4:
                strstatus = "停机";
                break;
              case 5:
                strstatus = "空号";
                break;
              case 6:
                strstatus = "正在通话中";
                break;
              case 7:
                strstatus = "关机";
                break;
              case 8:
                strstatus = "用户拒接";
                break;
              case 9:
                strstatus = "网络忙";
                break;
              case 10:
                strstatus = "来电提醒";
                break;
              case 11:
                strstatus = "呼叫转移失败";
                break;
              default:
                strstatus = "--";
                break;
            }
            $("#statusinfo").text(strstatus); //拨打状态
            $(".greenactive").removeClass("greenactive");

            if (memberInfo.level == 1) {
              $("#level1").addClass("greenactive");
            } else if (memberInfo.level == 2) {
              $("#level2").addClass("greenactive");
            } else if (memberInfo.level == 3) {
              $("#level3").addClass("greenactive");
            } else if (memberInfo.level == 4) {
              $("#level4").addClass("greenactive");
            } else if (memberInfo.level == 5) {
              $("#level5").addClass("greenactive");
            }else if (memberInfo.level == 6) {
              $("#level6").addClass("greenactive");
            }

            $("#record_path1").attr('src', memberInfo.record_path);

            $("#msglist1").empty();

            for (var i = 0; i < bills.length; i++) {

              var tempbills = bills[i];

              if (tempbills.role == 0) {
                var tempstr = '<div class="jimi_lists clearfix">' +
                  '<div class="header_img  icon iconfont icon-zuoxi1"></div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lm"><span></span></td>' +
                  '<td class="mm">' +
                  '<span class="wel"><span class="visitor"><p>' +
                  '' + tempbills.message + '</p></span></span>' +
                  '</td>' +
                  '<td class="rm">' +
                  '</td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>' +
                  '<tr><td></td></tr>' +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

              } else {
                var tempstr = '<div class="customer_lists clearfix">' +
                  '<div class="header_img jimi3 icon iconfont icon-gerenkehuguanli">' +
                  '</div>' +
                  '<table class="msg" cellspacing="0" cellpadding="0">' +
                  '<tbody>' +
                  '<tr>' +
                  '<td></td>' +
                  '<td></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lt"></td>' +
                  '<td class="tt"></td>' +
                  '<td class="rt"></td>' +
                  '</tr>'

                  +
                  '<tr>' +
                  '<td class="lm"></td>' +
                  '<td class="mm">' + tempbills.message + '</td>' +
                  '<td class="rm"><span></span></td>' +
                  '</tr>' +
                  '<tr>' +
                  '<td class="lb"></td>' +
                  '<td class="bm"></td>' +
                  '<td class="rb"></td>' +
                  '</tr>'

                  +
                  '</tbody>' +
                  '</table>' +
                  '</div>';

                if ((tempbills.status == 1) && tempbills.hit_keyword) {
                  tempstr += '<div class="customer_lists clearfix">' +
                    '<div class="session-item-left">' +
                    '<div class="ant-popover-placement ant-popover-placement-left">' +
                    '<div class="popover-content">【' + tempbills.hit_keyword + '】<br></div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                }
                tempstr += '<div class="session-item-left">'
												+'<div class="ant-popover-placement ant-popover-placement-left">'
												+'<div class="popover-content audio-content"><audio src="'+tempbills.path+'" class="palay-audio" preload="preload" controls="controls"></audio>'
												+'<br></div></div></div>';

              }
              $("#msglist1").append(tempstr);
            }
            //把当前页码 和每页limit 数量存入 隐藏的input中方便 别的功能调用
            var page  = $('#Nowpagehidden').val();
            var limit = $('#Nowlimithidden').val();
            ajax_member(page,limit);
            $('#call-detail1').modal('show');

          } else {
            console.log(data);
            alert(data.msg);
          }

        } else {

          console.log(data);
          //	window.location.href=window.location.href;
        }
      });

      $("#thisId").val(id);
    }

    $('.item').click(function() {
    	return false;
    	if($(this).hasClass('greenactive') == true){
    		return false;
    	}
    	if(!confirm("确定修改意向等级?")){
 　    　//点击确定后操作
　　      return false;
      }
      var data = {};
      data.level = $(this).attr('data-v');
      data.id = $(this).data('id');
			var url = "/user/member/update_crm_level";
			$.ajax({
				type:"POST",
				dataType:"json",
				url:url,
				data:data,
				success:function(result){
					if(result.code == 0){
						alert('修改成功');
					}else{
						alert('修改失败');
					}
				},
				error:function(){
					alert('修改失败');
				}
			})
      
    });
  </script>

</div>

<!-- 提示模板框 -->
<div class="modal fade" id="tips_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <script type="text/javascript">
    function changes() {
      var level = $(this).attr('data-v');
      var uid = $("#thisId").val();
      $.post("{:url('changeLevel')}/id/" + uid, {
        'level': level
      }, function(res) {
        if (res.code == 0) {

        }
        alert(res.msg);
      });

      $(".greenactive").removeClass("greenactive");
      $(this).addClass("greenactive");
    }
  </script>
</div>
