{extend name="public/base" /} {block name="body"}
<link href="/public/css/smsmodel.css" rel="stylesheet" type="text/css">
<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sms.css">


<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix fadeInRight animated pz_manping_height">
            <header class="main-box-header clearfix">
                <div class="pull-left">
                	<span class="n_panel_title">
	                	<img src="__PUBLIC__/img/pz_qianming.png" alt="">签名审核
	                </span>
                </div>
                <!--<a class="btn s_addnew pull-right headbtn" data-title="批量删除签名审核" onclick="popTipswin(this);" target-form="ids">删除</a>-->
            </header>
            <div class="main-box-body clearfix">
                <section class="navbar clearfix">
                    <form method="get" role="form">
                        <div class="form-inline dis_in  c_seldate clearfix group ">
                            <!-- 选择日期 -->
                            <label class="levelSelect statusSelect l-font-size" >创建时间:</label>
                            <div class="formgroup">
                                <div class="dis_in c_dateSelbg pr ">
                                    <input type="text" class="form-control c_datebgimg inputwidth" placeholder="选择开始日期" id="startDate" name="startDate" value="" readonly="">
                                    <script>
                                    $('#startDate').fdatepicker({
                                        format: 'yyyy-mm-dd',
                                        // pickTime: true
                                    });
                                    </script>
                                </div> <span class="pz_zhi">至</span>

                                <div class="dis_in c_dateSelbg pr">
                                    <input type="text" class="form-control c_datebgimg inputwidth" placeholder="选择结束日期" id="endTime" name="endTime" value="" readonly="">
                                    <script>
                                    $('#endTime').fdatepicker({
                                        format: 'yyyy-mm-dd',
                                        // pickTime: true
                                    });
                                    </script>
                                </div>
                            </div>
                            <!-- 选择审核状态 -->
                            <!--<label class="levelSelect c_marleft statusSelect">审核状态:</label>-->
                            <!--<div class="dis_in  c_selectset pull-left pz_selectss">-->
                            <!--    <select style="width:100px;" name="shenghe" id="shenghe" class="form-control resetSel c_selectimg">-->
                            <!--        <option value=" " selected="">请选择审核状态</option>-->
                            <!--        <option value="0">审核中</option>-->
                            <!--        <option value="1">审核通过</option>-->
                            <!--        <option value="2">审核未通过</option>-->
                            <!--    </select>-->
                            <!--</div>-->
                            <!-- 搜索关键字 -->
                            <div class="dis_in c_marleft pz_keyMarleft">
                                <input type="text" class="form-control inputwidth" id="keyword" name="keyword" placeholder="请输入签名内容">
                            </div>
                            <!-- 查询、重置按钮 -->
                            <div class="dis_in c_marleft pz_annius">
                                <button class="btn btn-primary" type="button" onclick="get_datas(1, 10);">查询</button>
                                <button class="btn btn-default" onclick="reset_click();" type="button">重置</button>
                            </div>
                        </div>
                    </form>
                </section>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">账户</th>
                                <th class="text-center">通道名称</th>
                                <th class="text-center">签名内容</th>
                                <th class="text-center">创建时间</th>
                                <!--<th class="text-center">审核状态</th>-->
                                <!--<th class="text-center">审核人</th>-->
                            </tr>
                        </thead>
                        <tbody id='show_datas'>

                            <tr>
                                <td class="text-center">
                                    <input class="check-all" name='all_checked' type="checkbox" />
                                </td>
                                <td class="text-center">2</td>
                                <td class="text-center">SCY002</td>
                                <td class="text-center">短信通道2</td>
                                <td class="text-center">内容</td>
                                <td class="text-center">2018-10-30</td>
                                <td class="text-center">已通过</td>
                                <td class="text-center">运营商1</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="component-page-empty" id="consumeempty">
									<div class="empty-tip line">
                    <p><img src="__PUBLIC__/img/none.png" /></p>
                    <p>暂无数据</p>
                  </div>
								</div>
                <footer class=" main-box-footer clearfix">
                    <div class="pull-left">
                      <span id="show_count">0</span>条签名审核
                    </div>
                    <div class="pull-right paging">
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
	<script type='text/javascript' src='/public/js/paging.js'></script>
	<script type='text/javascript' src='/public/js/sms-signature-verification.js'></script>
	<script src="__PUBLIC__/js_manage/account_manage.js"></script>
	<script type='text/template' id='option_template'>
		<tr>
      <td class="text-center">{%key%}</td>
      <td class="text-center">{%username%}</td>
      <td class="text-center">{%channel_name%}</td>
      <td class="text-center">{%sign_name%}</td>
      <td class="text-center">{%date%}</td>
    </tr>
	</script>
  <script type="text/javascript">
    //重置
    function reset_click() {
        $('input[name="startDate"][type="text"]').val(""); //开始日期
        $('input[name="endTime"][type="text"]').val(""); //结束日期
        $('select[name="shenghe"] option:eq(0)').prop("selected", 'selected'); //审核状态
        $('select[name="status"] option:eq(0)').prop("selected", 'selected'); //模板类型
        $('input[name="keyword"]').val(""); //签名内容关键字
        get_datas();
    }

    //查询
    function search(){
    	var startDate = $('#startDate').val();
    	var endTime = $('#endTime').val();
    	var audit_status = $('#shenghe').val();
    	var keyword = $('#keyword').val();
    	alert(startDate + endTime + audit_status + keyword);
    }
  </script>
{include file="sms/sms_targer" /}
{include file="sms/dialog" /}
{/block}
