{extend name="public/base" /}
{block name="body"}
{include file="sms/sms_targer" /}
<style type="text/css">
.table tbody>tr>td {
	padding: 9px 8px;
}
.table-responsive {
	min-height: .01%;
	overflow-x: hidden;
}
#newModal > .modal-dialog {
    width: 450px;
    margin: 30px auto;
}

.textwidth{
	width:250px;
}
.n_panel_title img {
    margin-right: 8px;
    vertical-align: sub;
}
@media (max-width: 1312px){
	.pz_input_width {
	    width: 157px!important;
	}
	.l-input-width {
    width: 120px!important;
	}
}
@media (max-width: 1300px){
	.pz_butanniu {
	    margin-top: 0px !important;
	}
}
@media (max-width: 1241px){
	.pz_butanniu {
	    margin-top: 15px !important;
	}
	.btn.pz_kongxin_anniusty{
		margin-top:15px !important;
	}
	.l-input-width {
    width: 150px!important;
	}
	.pz_keywords .form-control.pz_input_width {
    width: 200px!important;
    /* margin-top: 15px; */
	}
	.form-group.pz_keywords{
		margin-top:15px;
	}
}
@media (max-width: 1055px){
	.l-input-width {
	    width: 135px!important;
	}
}
.c_dateSelbg::after {
    /* content: ''; */
    width: 15px;
    height: 15px;
    background: url(/public/img/xuanzeriqi.png) 100% 100% no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.c_datebgimg {
  background: url(/public/img/xuanzeriqi.png) 94% 50% no-repeat;
}
.c_selectimg {
  background: url(/public/img_sj/jiantou.png) 94% 50% no-repeat;
}
.resetSel {
  background-clip: padding-box;
  border-color: #e0e3e4;
  color: #404040;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navbar{
	margin-bottom:8px;
}
</style>

<link href="/public/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/public/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="/public/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
<div class="row">
<div class="col-lg-12">
	<div class="main-box clearfix fadeInRight animated pz_manping_height">
		<header class="main-box-header n_head_box clearfix">
			<div class="pull-left">
				<span class="n_panel_title" style="line-height: 34px;"><img src="/public/img/renwutongji.png">短信签名</span>
			</div>
			<button class="btn btn-primary pull-right" data-title="批量删除" onclick="popTipswin(this);" target-form="ids" style="padding: 4px 24px;">批量删除</button>
			<a class="btn btn-primary pull-right add_sign" href="javascript:void(0);" style="padding: 4px 24px;">添加签名</a>
		</header>
		<div class="main-box-body clearfix">
				<section class="navbar main-box-header clearfix" style="padding: 7px 0px 9px;">
					<div class="clearfix">
						<div class="form-inline pull-left pz_formGroup" method="get" role="form">
							<div class="form-group">
								<label class="statusSelect" style="float:left;padding-top: 8px;">创建时间:</label>
								<div class="col-lg-8 col-sm-8">
									<div class="col-lg-12 col-sm-12 c_dateSelbg" style="padding:0px;">
										<input type="text" AUTOCOMPLETE ="off" class="form-control l-input-width c_datebgimg" placeholder="选择开始日期" id="start_create_time" name="startDate" value="">
									</div>
									<script>$('#start_create_time').fdatepicker({
								     	format: 'yyyy-mm-dd',
									});

									</script>
								</div>
							</div>
							至
							<div class="form-group">
								<div class="col-lg-11 col-sm-11">
									<div class="col-lg-12 col-sm-12 c_dateSelbg" style="padding:0px;">
										<input type="text" AUTOCOMPLETE ="off" class="form-control l-margin l-input-width c_datebgimg" placeholder="选择结束日期" id="end_create_time" name="endTime" value="" style="width:130px;">
									</div>
									<script>
										$('#end_create_time').fdatepicker({
											format: 'yyyy-mm-dd',
											// pickTime: true
										});
									</script>
								</div>
							</div>
							<!-- <div class="form-group">
								<div class="col-lg-8 col-sm-8">
									<select name="status" id="status" class="form-control l-input-width resetSel c_selectimg">
										<option value="" selected>请选择签名类型</option>
										<option value="0">验证码类</option>
										<option value="1">通知类</option>
										<option value="2">营销类</option>
									</select>
								</div>
							</div> -->

							<div class="form-group">
								<div class="col-lg-8 col-sm-8">
									<select name="shenghe" id="status" class="form-control l-input-width resetSel c_selectimg">
										<option value="" selected>请选择审核状态</option>
										<option value="0">未提交审核</option>
										<option value="1">审核中</option>
										<option value="3">审核通过</option>
										<option value="2">审核未通过</option>
									</select>
								</div>
							</div>

							<div class="form-group pz_keywords">
								<input type="text" class="form-control pz_input_width" id="keyword" name="keyword" placeholder="请输入签名内容关键字">
							</div>
							<span class="btn btn-primary pz_butanniu" type="button" id='click_query_sign'>查询</span>
							<span class="btn btn-primary pz_kongxin_anniusty" type="button" onclick="reset_click();">重置</span>

						</div>
					</div>
				</section>

			  <div class="table-responsive">

				 <table class="table table-bordered table-hover">
				   <thead>
					    <tr>
					        <th class="text-center"><input class="check-all" name='all_checked' type="checkbox"/></th>
									<th class="text-center">序号</th>
									<th class="text-center">账户</th>
									<th class="text-center">签名ID</th>
									<th class="text-center">签名内容</th>
									<th class="text-center">创建时间</th>
									<th class="text-center">审核状态</th>
					        <th class="text-center">操作</th>
					    </tr>
				    </thead>
				   <tbody id='show_datas'>
				    </tbody>
				  </table>
			  </div>
			  <div class="component-page-empty" id="consumeempty">
					<div class="empty-tip line">
						<p><img src="__PUBLIC__/img/none.png" /></p>
						<p>暂无数据</p>
				</div>
				</div>
				<footer class="main-box-footer clearfix">
					<div class="pull-left margintop">
            <input class="ppzrolecheck all_checked_count"  type="checkbox"/>全选（已选中<span id='user_count'>0 </span>条短信签名）</div>
          <div class="text-right pull-right">
          	<div class="paging clearfix">
          	</div>
          </div>
				</footer>
		</div>
	</div>
</div>
<script type="text/template" id='sign_template'>
	<tr>
		<td class="text-center">
			<input type="checkbox" name="checkids" class="sign_id" value="{%sign_id%}">
		</td>
		<td class="text-center">{%key%}</td>
		<td class="text-center">{%username%}</td>
		<td class="text-center">{%sign_id%}</td>
		<td class="text-center">{%sign_name%}</td>
		<td class="text-center">{%create_time%}</td>
		<td class="text-center">
			<span>{%status%}</span>
		</td>
		<td class="text-center">
			{%operation%}
		</td>
	</tr>
</script>
<script type="text/javascript" src='/public/js/paging.js'></script>
<script type="text/javascript" src='/public/js/sms-sign.js'></script>
<script src="__PUBLIC__/js_manage/account_manage.js"></script>
<script type="text/javascript">
	 $(function(){
			var keyword = "{$_GET['keyword']|default=''}";
			$('#keyword').val(keyword);
	 })

	//设置状态
	function setstatus(id,status){
			var url = "{:url('setSignStatus')}";
			$.ajax({
				url : url,
				dataType : "json",
				type : "post",
				data : {'sId':id,'status':status},
				success: function(data){
					if (data.code) {
					alert(data.msg);
					}else{
							location.reload();
					}
				},
				error : function() {
					alert('失败。');
				}
			});
	}
	//删除角色
 	function delRole(){
			var data = {};
			data.type = 0 ;
			data.start_create_time = $('#start_create_time').val();
		  data.end_create_time = $('#end_create_time').val();
		  data.status = $('#status').val();
		  data.keyword = $('#keyword').val();
			var arr = new Array();
			var checkedsub = $("input[name='checkids'][type='checkbox']:checked").length; //获取选中的checkids的个数
			if(checkedsub > 0 ){
				if($('.all_checked_count').is(':checked')){
					data.type = 1 ;
				}
				if($("input[name='checkids'][type='checkbox']").is(':checked')){
		    	$("input[name='checkids'][type='checkbox']").each(function(i){
						if($(this).context.checked == true){
								arr[i] = $(this).val();
						}
					});
					data.vals = arr.join();
	    	}
	    	console.log(data);
	    	var url = "{:url('delete_sign')}";
	    	$.ajax({
		  		type:'POST',
		  		data: data,
		  		dataType:'json',
		  		url:url,
		  		success:function(data){
		  			console.log(data);
		  			if(data.code == 0){
		  				alert(data.msg);
		  				$('#tips_model').modal('hide');
		  				get_sign(1, 10);
		  			}else{
		  				alert(data.msg);
		  				$('#tips_model').modal('hide');
		  			}
		  		},
		  		error:function(e){
		  			alert('数据提交失败！');
		  		}
		  	});
			}else{
				alert('请选择批量删除的数据');
			}
		}
	//重置
	function reset_click(){
		$('input[name="startDate"][type="text"]').val("");//开始日期
		$('input[name="endTime"][type="text"]').val("");//结束日期
		$('select[name="status"] option:eq(0)').prop("selected", 'selected');//模板类型
		$('select[name="shenghe"] option:eq(0)').prop("selected", 'selected');//审核状态
		$('input[name="keyword"]').val("");//签名内容关键字
		get_sign();
	}

 </script>

</div>


<!-- 新建短信签名  编辑短信签名 -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="pzModalLabel">添加短信签名</h4>
			 </div>
			 <div class="modal-body">
					<!-- <div class="form-group">
						<label style="float: left;padding-top: 7px;" class="col-lg-3 control-label">签名类型：</label>
						<div class="col-lg-9 col-sm-9">
							<input type="text" class="form-control textwidth" placeholder="请输入短信签名" name="autograph" id="autograph" value="" />
							<select name="callstyle" id="pzstatus" onchange="searchdata(1,1);" class="form-control textwidth">
									<option value="" selected>请选择签名类型</option>
								<option value="0">验证码类</option>
								<option value="1">通知类</option>
								<option value="2">营销类</option>
								</select>
						</div>
					</div> -->
					<div class="form-group">
						<label style="float: left;padding-top: 7px;" class="col-lg-3 control-label">短信签名：</label>
						<div class="col-lg-9 col-sm-9">
							 <input type="text"  class="form-control textwidth" placeholder="请输入短信签名" name="autograph" id="add-sign-name" value="" />
						</div>
					</div>
			  <br/>
			 </div>
			 <div style="clear:both;"></div>
			<div class="modal-footer neweditbtn">
				<input type='hidden' id='sign-id' value=''/>
				<input type='hidden' id='action' value='add'/>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" id="click_submit" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>
<!--删除提示窗-->
<div class="modal fade in" id="delete_sms_sign_tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
	<div class="modal-dialog" style="width:350px;">
		<div class="modal-content modal-contenttips n_modalcontent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="mytitleLabel">
					操作提示
				</h4>
			</div>
			<div class="modal-body">
				确定删除该短信签名吗？
			</div>
			<div class="modal-footer">
				<input type='hidden' id='delete_sms_sign_tips-id' value=''/>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn btn-primary" id='delete_sms_sign'>
					确认
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//添加弹窗
	function addSms(){
	 $('#addlabellist').attr('data-id',0);
	 $('#pzstatus').val("");
	 $('#pzsmsqianming').val("");
	 $('#pzModalLabel').text('添加短信签名');
	 $('#newModal > div > div > div.modal-footer.neweditbtn > button.btn.btn-primary').text('确认');
	 $('#newModal').modal('show');
	}
	//编辑语义标签
	function addNew(uid){
		$("#signid").val(uid);
		$('#pzModalLabel').text('编辑短信签名');
		$('#newModal > div > div > div.modal-footer.neweditbtn > button.btn.btn-primary').text('保存');
		$('#newModal').modal('show');
		if(uid > 0){
				$.ajax({
						type: "POST",
						dataType:'json',
						url: "{:url('User/Sms/getSign')}",
						cache: false,
						data: {id:uid},
						success: function(data) {
							if (data.code == 0) {
									var data = data.data;
									$("#autograph").val(data.name);
									$('#newModal').modal('show');
								}
							},
						error: function(data) {
							alert("提交失败");
						}
				})
		}
		else{
			 alert("至少选择一个数据");
		}
	}
	function uploadData(){
		var autograph = $("#autograph").val();
		if(!autograph){
				alert("短信签名不能为空");
				return false;
			}
		var href = "{:url('User/Sms/signature')}";
		$.ajax({
			 type: "POST",
			 dataType:'json',
			 url: href,
			 cache: false,
			 data: $("#form").serialize(),
			 success: function(data) {
				if (data.code == 0) {
					 alert(data.msg + ' 页面即将自动刷新~');
				}else{
					 alert(data.msg);
				}
			location.reload();
			 },
			 error: function(data) {
				 alert("提交失败");
			 }
		})
		$('#newModal').modal('hide');
	}
</script>
{/block}
